[submodule "charlcd"]
	path = charlcd
	url = git@bitbucket.org:kosci/charlcd.git
[submodule "message_listener"]
	path = message_listener
	url = https://github.com/bkosciow/message_listener
[submodule "python_message"]
	path = python_message
	url = https://github.com/bkosciow/python_iot-1
[submodule "esp_remote_lcd"]
	path = esp_remote_lcd
	url = https://github.com/bkosciow/esp_remote_lcd
[submodule "proxy_lcd"]
	path = proxy_lcd
	url = https://github.com/bkosciow/proxy_lcd
[submodule "ProxyLCDBundle"]
	path = ProxyLCDBundle
	url = https://github.com/bkosciow/ProxyLCDBundle
[submodule "nodemcu_boilerplate"]
	path = nodemcu_boilerplate
	url = https://github.com/bkosciow/nodemcu_boilerplate
[submodule "node_one"]
	path = node_one
	url = https://github.com/bkosciow/nodemcu_Node_One
[submodule "lcdmanager"]
	path = lcdmanager
	url = https://bitbucket.org/kosci/lcdmanager
